<!DOCTYPE html>
<html>
  <head>
<!--importing additional assets-->
    <link href="https://fonts.googleapis.com/css?family=Ovo|Quattrocento+Sans" rel="stylesheet">
    <meta charset="utf-8">
    <title>Tapped In</title>
  </head>
  <body>
    <div class="age-limit" *ngIf="visible">
      <h1>Welcome to {{title}}</h1>
      <h2>Are you over the age of 21?</h2>
      <button type="button" (click)= 'clickYes()' class="btn btn-success">Yes</button>
      <button type="button" (click)= 'clickNo()' class="btn btn-danger">No</button>
      <p><sub>Click here if you are an employee.<input type="checkbox" ng-model="checked"></sub></p>
    </div>
    <div class="container-fluid">
      <div class="employee-login" ng-show="checked">
        <form class="jumbotron">
          <label>Please enter employee PIN</label>
          <p><input type="text" maxlength="4" required></p>
          <button type="button" class="btn btn-info">Submit</button>
        </form>
      </div>
      <div class="employee-portal" *ngIf="visibleEmployee">
        <div class="card">
          <div class="card-header">
            <h2>Tap Inventory</h2>
            <h4>Current Till: ${{sellBeer(currentTill).start}}</h4>
            <h4>Net profit: ${{sellBeer(currentTill).netProfit}}</h4>
          </div>
          <div class="card-body">
            <ul>
              <li [class]="refill(currentTap)" *ngFor="let currentTap of taps"><button type="button" class="btn btn-info" (click)="editTap(currentTap)">Edit</button><button class="btn btn-success" (click)="sellBeer(currentTap)">Sell pint</button> {{currentTap.name}} by {{currentTap.brand}}-- ABV: {{currentTap.alcohol}} -- Price: ${{currentTap.price}} -- Volume: {{currentTap.volume}}/124 </li>
            </ul>
            <button class="btn btn-primary" (click)="displayAddTap()">Add inventory</button>
            <div class="add-taps" *ngIf="addTap">
              <h4>Add new keg</h4>
              <input #inputName placeholder="Beer name">
              <input #inputBrand placeholder="Brewery">
              <input #inputPrice placeholder="Price per pint">
              <input #inputApv placeholder="ABV%">
              <button class="btn btn-secondary" (click)="addNewTap(inputName.value, inputBrand.value, inputPrice.value, inputApv.value,124)">Submit</button>
            </div>
            <div class="edit-taps" *ngIf="selectedTap">
              <h4>Edit keg info</h4>
              <input [(ngModel)]="selectedTap.name" name="edit-name">
              <input [(ngModel)]="selectedTap.brand" name="edit-name">
              <input [(ngModel)]="selectedTap.price" name="edit-name">
              <input [(ngModel)]="selectedTap.alcohol" name="edit-name">
              <input [(ngModel)]="selectedTap.volume" name="edit-name">
              <button class="btn btn-info" (click)="finishEdit()">Finish</button>
            </div>
          </div>
        </div>
      </div>
      <div class="user-portal">
      </div>
    </div>
  </body>
</html>
